sudo: false

language: python
python:
  - "3.5"
  - "3.6"

# command to install dependencies
install:
  - "pip install -r requirements.txt"

addons:
  apt_packages:
    - pandoc
 
# command to run tests
script: 
  - make travis_test

#after_success:
#  coveralls

# whitelist
branches:
  only:
    - master
