dist: trusty
sudo: false

language: python
python:
  - "3.5"

# command to install dependencies
install:
  - pip install --upgrade pip setuptools wheel
  - pip install --only-binary=numpy,scipy numpy scipy
  - python setup.py install
  - python setup.py sdist bdist_wheel
#  - "pip install -r requirements.txt"

addons:
  apt_packages:
    - pandoc
 
# command to run tests
script: 
  - PYTHONPATH=. make travis_test

#after_success:
#  coveralls

# whitelist
#branches:
#  only:
#    - master
    
