rdflib>=6.0.0
marshmallow>=3.0.0b11,<4.0
jsobject>=0.0
prefixcommons>=0.1.9
requests>=0.0
pip>=9.0.1
wheel>0.25.0
pysolr>=3.6.0
networkx>=2.3
matplotlib>=2.0.0
SPARQLWrapper>=1.8.0
pandas>=0.0
scipy>=1.2.0
twine
jsonpickle>=0.0
jsonpath_rw>=0.0
PyShEx>=0.7.11
pytest>=0.0
pytest_logging>=0.0
pydotplus>=0.0
plotly>=2.0.7
pyyaml
yamldown>=0.1.7
click
diskcache>=4.0.0
bidict>=0.20.0
python-dateutil
chardet
dacite>=1.6.0
pyparsing==2.4.7